click==7.1.2
dataclasses==0.8
fastapi==0.63.0
h11==0.12.0
joblib==1.0.0
nltk==3.5
numpy==1.19.5
Pillow==8.1.0
pydantic==1.7.3
regex==2020.11.13
starlette==0.13.6
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
tqdm==4.56.0
typing-extensions==3.7.4.3
uvicorn==0.13.3
gunicorn==20.0.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu 
torchvision==0.8.2+cpu 
torchaudio==0.7.2